{% extends 'message/base.html' %}
{% block title %}
    <div class="b-example-divider"></div>

    <div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Все рассылки</h1>
        </div>
    </header>
{% endblock %}
{% block body %}

    <div class="row text-start">

        <div class="album py-5 bg-body-tertiary">

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for object in object_list %}
                        <div class="col">

                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="card-text">{{ object.state }} {{ object.periodicity }} {{ object.client }} </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div class="card-body">
                                                <p class="card-text">Наименование: {{ object.name|slice:15 }} </p>
                                                <p class="card-text">Тело: {{ object.body|slice:15 }} </p>

                                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                                   href="{% url 'message:message_update' object.pk %}">Редактировать</a>
                                                <a type="button" class="btn btn-sm btn-outline-danger"
                                                   href="{% url 'message:message_delete' object.pk %}">Удалить</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>
                <a class="m-2 p-2 btn btn-outline-primary" href="{% url 'message:message_create' %}">Добавление
                    письма</a>
            </div>
        </div>

{% endblock %}